@model MyEvernote.Entities.Note

@{
    ViewBag.Title = "Notlar";
}

<link href="~/Content/validation-error.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <h4>@ViewBag.Title</h4>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(false)
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label"><b>@Html.DisplayNameFor(model => model.Title) : </b></label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label"><b>@Html.DisplayNameFor(model => model.Text) : </b></label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.Text, 5, 30, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label"><b>@Html.DisplayNameFor(model => model.IsDraft) : </b></label>
                        <div class="col-md-9">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.IsDraft)
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label"><b>@Html.DisplayNameFor(model => model.Title) : </b></label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.LikeCount, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LikeCount, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.CategoriId, "CategoriId", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownList("CategoriId", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-3">
                        </div>
                        @Bootstrap.LinkButton("/Note/Index", "outline-secondary", "col-md-3 btn-sm", string.Empty, "arrow-left", " Geri Dön")
                        <div class="col-md-6 text-right">
                            @Bootstrap.Button("success", "btn-sm", "submit", string.Empty, "Ekle")
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>