@model MyEvernote.Entities.Category

@{
    ViewBag.Title = "Kategoriler";
}
<link href="~/Content/validation-error.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <h4>@ViewBag.Title</h4>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(false)
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label"><b>@Html.DisplayNameFor(model => model.Title) : </b></label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label"><b>@Html.DisplayNameFor(model => model.Description) : </b></label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                        </div>
                        @Bootstrap.LinkButton("/Category/Index", "outline-secondary", "col-md-3 btn-sm", string.Empty, "arrow-left", " Geri Dön")
                        <div class="col-md-6 text-right">
                            @Bootstrap.Button("success", "btn-sm", "submit", string.Empty, "Ekle")
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

