@model MyEvernote.Entities.Category

@{
    ViewBag.Title = "Kategori Sil";
}
<link href="~/Content/validation-error.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <h4>@ViewBag.Title</h4>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-horizontal">

                <div class="form-group row">
                    <label class="col-md-3 col-form-label"><b>@Html.DisplayNameFor(model => model.Title) : </b></label>
                    <div class="col-md-9" style="vertical-align:middle;margin:auto">
                        @Html.DisplayFor(model => model.Title)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label"><b>@Html.DisplayNameFor(model => model.Description) : </b></label>
                    <div class="col-md-9" style="vertical-align:middle;margin:auto">
                        @Html.DisplayFor(model => model.Description)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label"><b>@Html.DisplayNameFor(model => model.CreatedOn) : </b></label>
                    <div class="col-md-9" style="vertical-align:middle;margin:auto">
                        @Html.DisplayFor(model => model.CreatedOn)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label"><b>@Html.DisplayNameFor(model => model.ModifiedOn) : </b></label>
                    <div class="col-md-9" style="vertical-align:middle;margin:auto">
                        @Html.DisplayFor(model => model.ModifiedOn)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label"><b>@Html.DisplayNameFor(model => model.ModifiedUsername) : </b></label>
                    <div class="col-md-9" style="vertical-align:middle;margin:auto">
                        @Html.DisplayFor(model => model.ModifiedUsername)
                    </div>
                </div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-group row">
                    @Bootstrap.LinkButton("/Category/Index", "outline-secondary", "col-md-3 btn-sm", string.Empty, "arrow-left", " Geri Dön")
                    <div class="col-md-3 text-right">
                        @Bootstrap.Button("danger", "btn-sm", "submit", string.Empty, "Sil")
                    </div>
                </div>
            }
        </div>

    </div>
</div>
